[alias]
    co = checkout
    st = status
    ci = commit -a
    di = diff --color
    ds = diff --color --staged
    br = branch
    stat = log --stat --summary
    glgg = log --graph --decorate --color

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
[user]
	email = potix2@gmail.com
	name = Katsunori Kanda
